@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

:root {
  --text-gray: #667085;
  --title-gray-dark: #101828;
  --main-color: #8E2424;
  --second-color: #C31919;
  --text-gray-border: #EAECF0;
  --main-footer-color: #F9FAFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: clamp(10px, 18px, 12px); 
}

body {
  min-height: 100%;
  width: 100%;
  padding: 2% 5%;
}

.header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 70%;
  margin: 0 auto;
  padding: 2%;
}

.menu {
  display: flex;

}

.menu__list {

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;


}

.menu__list-item {
  list-style: none;
  margin-left: 32px;

}

.menu__list-item:first-child {
  margin-left: 0;
}

.menu__list-item>a {
  color: var(--text-gray);
  text-decoration: none;
  font-size: 24px;
}

.menu__list-item>a:hover {
  text-decoration: underline;
}

/*### buttons##################################*/
.header__buttons {
  display: inline;
}


.login {
  font-size: 1rem;
  background-color: #fff;
  color: var(--text-gray);
  border: 1px solid var(--text-gray);
  outline: none;
  box-shadow: none;
  cursor: pointer;

  transition: 0.2s;

  border-radius: 8px;
  padding: 8px;
  margin: 0 12px;
}

.login:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  text-decoration: underline;
}

.signup {
  background-color: var(--main-color);
  color: #fff;
  font-size: 1rem;
  flex-grow: 0;

  border: 1px solid var(--text-gray);

  outline: none;
  box-shadow: none;
  cursor: pointer;

  padding: 8px;
  border-radius: 8px;
  transition: 0.2s;
}

.signup:hover {
  background-color: #fff;
  color: var(--main-color);
  text-decoration: underline;
}

/* hero ################################################ */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 96px 0;
  gap: 24px;
}

.hero__span {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
}

.hero__title {
  font-size: 2.5rem;
}

.hero__paragraph {
  color: var(--text-gray);
  max-width: 790px;
  justify-self: center;
  font-size: 20px;
  font-weight: 500;
}

/* metricas ############################### */
.metricas {

  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
  flex-wrap: wrap;
}

.metricas>article {
  width: 280px;
}

.metricas__employees-indice {
  font-size: 4rem;
  font-weight: 500;
  color: var(--main-color);
}

.metricas__employees-title {
  font-weight: 500;
  font-size: 24px;
}

.metricas__employees-text {
  margin: 10px 0 8px 0;
  color: var(--text-gray);
}



/*  VAGAS ######################### */

.vagas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.vagas > img {
  width: 100%;
  object-fit: fill;
  overflow: hidden;
}

.vagas__container {
  margin: 96px;

}

.vagas__container-span {
  background: rgba(142, 36, 36, 0.05);
  color: var(--main-color);
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 500;
}

.vagas__container-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0;
}

.vagas__container-text {
  color: var(--text-gray);
  font-size: 20px;
  margin: 20px 0 0 0;
}

/* ################################### */
.card__description-title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--title-gray-dark);
}

.vagas-card {
  margin: 0 auto;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__description {
  width: 100%;
  /* min-width: 600px; */
  margin-bottom: 64px;
}

.vagas-card_container {
  border: 1px solid var(--text-gray-border);
  margin: 24px 0;
  border-radius: 16px;
  padding: 24px;
}

.card__description-text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-right: 24px;
}

.card__description-span {
  color: var(--text-gray);
}


/* #######  depoimentos ########## */

.depoimentos {
  background-color: rgba(142, 36, 36, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 70%;
  padding: 3rem;
  border-radius: 16px;
}

.depoimento__profile {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.depoimento__profile-titulo {
  color: var(--main-color);
  font-size: 14px;
  margin-bottom: 16px;
}

.depoimento__profile-text {
  font-size: 2rem;
  font-weight: 500;
}

.depoimento__profile-text:last-child {
  margin-bottom: 32px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__name {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-gray-dark);
  margin-top: 16px;
}

.profile__role {
  font-size: 14px;
  color: var(--text-gray);
}

/* ##############  footer__container ########## */


.footer__container {

  padding: 96px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 44px;
}

.footer__container-section {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.footer__container-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title-gray-dark);
}

.footer__container-text {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-gray);
}

.input-form {
  border-radius: 8px;
  padding: 8px;
  width: 350px;
  border: 1px solid var(--text-gray-border);

}

.input-form:focus {
  outline: none;
}


.footer__text {
  font-size: 16px;
  color: var(--text-gray);
  margin-top: 32px;
}